#### 1.1 Arithmetic Operators

In [289]:
#int/int=float
a,b,c=20,-8,4
a+b,a-b,a*b,a/b,a//b,a%b,a**b,b/c

(12, 28, -160, -2.5, -3, -4, 3.90625e-11, -2.0)

#### 1.2 Assignment Operators

In [291]:
a,b,c,d,e,f,g,h=8,20,20,20,20,20,20,20
#10=='10'比較記憶體空間是否相同
b+=a #a++就是a+=1
c-=a
d*=a
e/=a
f%=a
g**=a
h//=a
b,c,d,e,f,g,h

(28, 12, 160, 2.5, 4, 25600000000, 2)

#### 1.3 Comparison (Relational) Operators

In [146]:
a==8,2<a!=3,8>=a>2,a<=8

(True, True, True, True)

#### 1.4 Logical Operators (Boolean Operators)

In [293]:
#or前0讀後,and前1讀後
#java:&&,||,!
t,f=True,False
t or f,f or t,f or f,t and f,not (f and t)

(True, True, False, False, True)

In [303]:
#True是偶數
#單一運算比二元運算快 % vs %==
x=22
not x%2,x%2==0

(True, True)

In [407]:
%%timeit #Magic&&timeit運算速度 s=1000ms, ms=1000us, us=1000ns
x=22
not x%2

38.1 ns ± 1.32 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

#### 1.5 Identity Operators

In [245]:
a,b,c=1,1,2
a is b,a is c,a is not c

(True, False, True)

#### 1.6 Bitwise Operators

#### 1.7 Membership Operators

In [405]:
mystr='123456789'
'1'in mystr,'1'not in mystr

(True, False)

#### 3.資料型態

In [283]:
#object=identity,type,value
a,b,c=8,9.0,'John'
id(a),type(a),type(b),type(c)

(4405331608, int, float, str)

#### 3.1 numeric(int,float,complex,boolean)沒順序不可改變

In [323]:
#bianry,octal,hexadecimal,科學記號
0b11,0o11,0x1f,10.1e-2,f'{31:08b}',f'{31:o}',f'{31:x}'

(3, 9, 31, 0.101, '00011111', '37', '1f')

In [170]:
#a,b四捨五入至float後6位，並為str格式,c無條件捨去
a,b,c=f'{2**0.5:6f}',f'{2**0.5:.6f}',str(2**0.5)[:8]
a,b,c,id(a),id(b),type(a),type(b)

('1.414214', '1.414214', '1.414213', 4964226672, 4964224368, str, str)

In [339]:
up,down,height=10,20,8
area=(up+down)*height/2
f'Area of a Trapezoid is {int(area)} square cetemeter.'

'Area of a Trapezoid is 120 square cetemeter.'

#### 3.2 Text Sequence 有順序不可改變

#### 3.2.1 Index, Slice, Raw String

In [431]:
#index[x],slice[含:不含]
#len()長度
nbs='123456789'
nbs[2],nbs[-3],nbs[2:-3:2],nbs[2:],nbs[:6],nbs[:-3],len(nbs),*nbs #unpack*

('3',
 '7',
 '35',
 '3456789',
 '123456',
 '123456',
 9,
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9')

In [423]:
#Raw string用於regular expression
a=r'1\t\n6'
print(a)
a[1:4] #\ is shown as a \\ i interative mode

1\t\n6

'\\t\\'

In [425]:
#text cannot be assigned
del nbs #del=bash's unset
nbs='123456'
nbs[0]='2'

NameError: name 'nbs' is not defined

#### 3.2.2 Text Methods

In [85]:
#字串 method
#.split,rsplit('',maxsplit=x)[index or slice],keyword argument取檔名
#.strip,rstrip('')預設消除空格
#.isalpha文.isdigit數.isalnum文數.isspace空白' ','\t','\v'
#function:len(),sum()... vs method:object.upper(有點運算子)
#c to c++:沒class to物件導向
a='(ABcd.EFgh.txt)'
a.upper(),a.lower(),a[1:-1].rsplit('.',maxsplit=1)[:-1]#slice去括號

('(ABCD.EFGH.TXT)', '(abcd.efgh.txt)', ['ABcd.EFgh'])

#### 3.3 Sequence [List], (Tuple), {Dict} Range and method

In [2]:
#range =java method overloading,arange,numpy
#lazy evaluation:需要的時候再執行
range(10)
print(list(range(10))) # []
print(tuple(range(10))) # ()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

#### 3.3.1.1 List 有順序可以改變

In [127]:
lst=[100,200,300] # list可當c的array
print(id(lst),id(lst[1]))
lst[1]=10 # [0,1,2]
print(lst*3) #使list重複3次
print(id(lst),id(lst[1])) # list id不變，但數字id變
print(len(lst))
lst2=lst+[[1,2,3]] # list+list *aiot的numpy陣列相加會是[1,2,3]+[4,5,6]=[5,7,9]
print(lst2)
lst2[3][2] # list of list
for x in lst2:
    print(x,end=',')

4980767040 4450778776
[100, 10, 300, 100, 10, 300, 100, 10, 300]
4980767040 4450772696
3
[100, 10, 300, [1, 2, 3]]
100,10,300,[1, 2, 3],

In [121]:
#max()min()sorted(,reverse=True),sum(),list()
lst=['az','c','d','za','四'] # 中文用utf-8編碼：要扣function轉
print(max(lst),min(lst))
num=sorted(list((range(1,20,2))),reverse=True)
print(num,sum(num))

四 az
[19, 17, 15, 13, 11, 9, 7, 5, 3, 1] 100

#### 3.3.1.2 List Method

In [3]:
#method:list.append().clear()=del s[:].count().copy()=d s[:]
lst=[4,5,6,5,3,4,3]
lst2=[7,7,8,9,7]
#lst.count(4) 有幾個4
#lst.append(2) 加2在字串最後
#del lst[:] #lst.clear()
#d=lst[:] #lst.copy()
lst.extend(lst2) #combine list=a+=b
#lst.index() 讀取元素在第幾位
#lst.insert(,)插入要再試
#lst.pop(1) 移除元素預設-1
#lst.remove() 移除()中元素
#lst.reverse() 反轉，會真的改變list
#lst.sort([func]) 依func排序list
lst

[4, 5, 6, 5, 3, 4, 3, 7, 7, 8, 9, 7]

#### 3.3.1.3 List Comprehension

In [62]:
# s={x**2:x in{0-9}}
# v=(1,2,4,8,...,2**10)
# m={x|x in s and x even}
s=[x**2 for x in range(10)]
v=[2**n for n in range(11)]
m=[x for x in s if not x%2]
s,v,m

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81],
 [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024],
 [0, 4, 16, 36, 64])

#### 3.3.2 Tuple 一元陣列，交換 有順序不能改變 (50,)vs(50)tuple,int

In [9]:
tpl=(50) # 一元陣列
tpl2=(50,)
type(tpl),type(tpl2)

(int, tuple)

In [15]:
#python的交換swap
a,b=5,10
a,b=b,a
a,b

(10, 5)

In [25]:
#java 交換
a,b=5,10
swap(a,b)

def swap(x,y):
    tmp=x
    x=y
    y=tmp

a,b

(5, 10)

In [36]:
sorted((5,4,3)) # 產生的是List

[3, 4, 5]

In [46]:
tuple('apple') # 將資料轉成tuple

('a', 'p', 'p', 'l', 'e')

#### 3.3.3.1 Dict 沒有順序可以改變 {}空字典

In [121]:
d1={'name':'mary','age':'22','gender':'female'}
d2={'age':'22','gender':'female','name':'mary'}
d1==d2,d1 is d2 # is 看記憶體搞不好相同

(True, False)

In [123]:
d1['star']='A+' # 可新增資料
d1['name'],d1

('mary', {'name': 'mary', 'age': '22', 'gender': 'female', 'star': 'A+'})

In [125]:
del d1['gender']
d1

{'name': 'mary', 'age': '22', 'star': 'A+'}

In [139]:
# Pandas dataframe
d1={'id':'A001','eng':[67,53,79]}
d1['math']=[64,85,75] # 新增數學成績
d1['eng'][0],d1

(67, {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 85, 75]})

In [143]:
d1.get('chi','there is no chi in d1') # 若字典內沒有資料，回傳...

'there is no chi in d1'

In [137]:
d1.clear()
d1

{}

#### 3.3.3.2 Dict comprehension

In [170]:
x='letter'
n={char:word.count(char) for char in set(x)}
n

{'e': 2, 'l': 1, 'r': 1, 't': 2}

#### 3.3.4 Set 沒有順序可以改變，沒有重複 set()空集合

In [28]:
s1={2,3,5,2,1,5,7}
s2={2,3,8,21,9,7}
print(s1&s2, #=s1.intersection(s2)
      s1|s2, #=s1.union(s2)
      s1-s2, #=s1.difference(s2)
      s1^s2) #=s1.symmetric_difference(s2)

{2, 3, 7} {1, 2, 3, 5, 7, 8, 9, 21} {1, 5} {1, 21, 5, 8, 9}

In [26]:
#function可搭配 dict comprehension
set('banana')

{'a', 'b', 'n'}

#### 4. 輸出輸入

In [75]:
#1.standard output(stdout)=print()
#2.standard error(stderr)
#0.standard input(stdin)=input([prompt]) 語法的[]=optional

In [97]:
print(11,12,sep=':') #,' '源自linux的awk

11:12

In [125]:
#input()type是str
#print()看不出type
#eval()運算所以type是numeric
x=input('Please enter a number:')
y=eval(input('Please enter another number:'))
x,y

Please enter a number: 2
Please enter another number: 3

('2', 3)

In [439]:
#f'{}',since3.6
#java,c#,aiot python2用%(求餘數and格式化)
#Dictionary={'key':value,'key2'"value2...},讀取{Dictionar['key']}
a=input('what is your name')
b=input('How old are you')
c=input('boy or girl')
dic={'name':a.upper(),'age':b,'gender':c}
f'{dic['name']} is a {dic['age']}-year-old {dic['gender']}.'

what is your name a
How old are you 1
boy or girl 2

'A is a 1-year-old 2.'

In [437]:
#小數格式 {x:06.3f}is from bash shell,補0顯示6位.3位f小數d整數四捨五入
#str.format() e.g. '{:1.2f}'.format(key)
#日期格式yyyy-mm-dd hh:MM:SS資料庫相容性較高
from datetime import datetime
data=12.34567
f'date is {datetime(1999,1,2,3,4,5):%Y-%m-%d %H:%M:%S}',f'{data:06.2f}'
#舊格式:文%s,int%d,float%5.2f e.g. '%s is %d dollars.' %(goods,price)

('date is 1999-01-02 03:04:05', '012.35')

In [405]:
a=int(input('how much is art'))
p=float(input('how much'))
f'Art:{a:05d}, Price:{p:6.2f}, Total:{a+p:8.2f}'

how much is art 13
how much 1241

'Art:00013, Price:1241.00, Total: 1254.00'